apiVersion: apps/v1
kind: Deployment
metadata:
  name: pushgateway
  labels:
    app: pushgateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pushgateway
  template:
    metadata:
      labels:
        app: pushgateway
    spec:
      serviceAccountName: pushgateway
      containers:
      - name: pushgateway
        image: prom/pushgateway:v1.11.0
        ports:
        - containerPort: 9091
          name: metrics
        args:
        - '--web.listen-address=:9091'
        - '--persistence.file=/data/metrics'
        - '--persistence.interval=5m'
        volumeMounts:
        - name: pushgateway-storage
          mountPath: /data
        resources:
          requests:
            memory: "16Mi"
            cpu: "5m"
          limits:
            memory: "64Mi"
            cpu: "50m"
        securityContext:
          runAsUser: 65534
          runAsGroup: 65534
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
      volumes:
      - name: pushgateway-storage
        emptyDir: {}