meshConfig:
  enableTracing: true
  defaultConfig:
    tracing:
      sampling: 100.0   # 개발 환경: 100% 샘플링. 프로덕션에서는 1~10
  extensionProviders:
    - name: otel-tracing
      opentelemetry:
        port: 4317
        service: otel-collector-opentelemetry-collector.tracing.svc.cluster.local
        resource_detectors:
          environment: {}
  accessLogFile: /dev/stdout

pilot:
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
