apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: logging

resources:
  - ../multicluster

patchesStrategicMerge:
  - cluster-config.yaml

# 클러스터별 변수 치환
replacements:
  - source:
      kind: ConfigMap
      name: cluster-config
      fieldPath: data.cluster_name
    targets:
      - select:
          kind: ConfigMap
          name: fluent-bit-config
        fieldPaths:
          - data.fluent-bit\.conf
        options:
          delimiter: "CLUSTER_NAME_PLACEHOLDER"
  - source:
      kind: ConfigMap
      name: cluster-config
      fieldPath: data.opensearch_host
    targets:
      - select:
          kind: ConfigMap
          name: fluent-bit-config
        fieldPaths:
          - data.fluent-bit\.conf
        options:
          delimiter: "YOUR_LOCAL_IP"