apiVersion: v1
kind: Service
metadata:
  name: prometheus-server
  labels:
    app: prometheus
    component: server
spec:
  selector:
    app: prometheus
    component: server
  ports:
  - port: 9090
    targetPort: 9090
    name: web