apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: logging

resources:
  - ../../base

patches:
  - path: patches/remote-cluster-config.yaml
    target:
      kind: ConfigMap
      name: fluent-bit-config