apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base
- grafana/configmap.yaml
- grafana/dashboards-configmap.yaml
- grafana/all-dashboards-configmap.yaml
- grafana/deployment.yaml
- grafana/service.yaml

patchesStrategicMerge:
- prometheus-federation-config.yaml

namePrefix: central-

commonLabels:
  deployment: central

patches:
- target:
    kind: ConfigMap
    name: prometheus-config
  patch: |-
    - op: replace
      path: /data/prometheus.yml
      value: |
        global:
          scrape_interval: 15s
          evaluation_interval: 15s
          external_labels:
            cluster: 'central-cluster'
            replica: 'prometheus-1'

        alerting:
          alertmanagers:
          - static_configs:
            - targets: []

        rule_files: []

        scrape_configs:
        - job_name: 'prometheus'
          static_configs:
          - targets: ['localhost:9090']

        - job_name: 'kubernetes-apiservers'
          kubernetes_sd_configs:
          - role: endpoints
          scheme: https
          tls_config:
            ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
          relabel_configs:
          - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
            action: keep
            regex: default;kubernetes;https

        - job_name: 'kubernetes-nodes'
          scheme: https
          tls_config:
            ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
          kubernetes_sd_configs:
          - role: node
          relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)
          - target_label: __address__
            replacement: kubernetes.default.svc:443
          - source_labels: [__meta_kubernetes_node_name]
            regex: (.+)
            target_label: __metrics_path__
            replacement: /api/v1/nodes/${1}/proxy/metrics

        - job_name: 'kubernetes-pods'
          kubernetes_sd_configs:
          - role: pod
          relabel_configs:
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)
          - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__
          - action: labelmap
            regex: __meta_kubernetes_pod_label_(.+)
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: kubernetes_namespace
          - source_labels: [__meta_kubernetes_pod_name]
            action: replace
            target_label: kubernetes_pod_name

        - job_name: 'kube-state-metrics'
          static_configs:
          - targets: ['central-kube-state-metrics:8080']

        - job_name: 'node-exporter'
          kubernetes_sd_configs:
          - role: endpoints
          relabel_configs:
          - source_labels: [__meta_kubernetes_endpoints_name]
            regex: 'central-node-exporter'
            action: keep

        # Federation job to scrape from remote Prometheus instances
        - job_name: 'federate-remote-prometheus'
          scrape_interval: 15s
          honor_labels: true
          metrics_path: '/federate'
          params:
            'match[]':
              - '{job=~"kubernetes-.*"}'
              - '{job=~"node-exporter"}'
              - '{job=~"kube-state-metrics"}'
              - 'up'
              - 'prometheus_build_info'
          static_configs:
          - targets:
            # This will be updated after we deploy the remote cluster
            - '172.19.0.2:9090'  # Remote cluster Prometheus