apiVersion: v1
kind: Service
metadata:
  name: prometheus-server-nodeport
  labels:
    app: prometheus
    component: server
spec:
  type: NodePort
  selector:
    app: prometheus
    component: server
  ports:
  - port: 9090
    targetPort: 9090
    nodePort: 30202  # k3d-cluster2에서 이미 노출된 포트 사용
    name: web