apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - namespace.yaml
  # ArgoCD 공식 설치 매니페스트
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

# ArgoCD 서버에 insecure 모드 설정 (개발 환경)
patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: argocd-server
      spec:
        template:
          spec:
            containers:
              - name: argocd-server
                command:
                  - argocd-server
                args:
                  - --insecure
    target:
      kind: Deployment
      name: argocd-server
