loki:
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  storage_config:
    aws:
      region: ap-northeast-2
      bucketnames: gdp-log-test
      s3forcepathstyle: false
  pattern_ingester:
      enabled: true
  limits_config:
    ingestion_rate_mb: 4           # 기본 1.4MB -> 4MB로 증가
    ingestion_burst_size_mb: 8     # 버스트 크기 8MB
    per_stream_rate_limit: 3MB
    per_stream_rate_limit_burst: 5MB
    allow_structured_metadata: true
    volume_enabled: true
    retention_period: 672h # 28 days retention
    # Disable tenant enforcement
    reject_old_samples: false 
  querier:
    max_concurrent: 4

  auth_enabled: false

  server:
    http_listen_port: 3100
    grpc_listen_port: 9095
    http_server_read_timeout: 600s
    http_server_write_timeout: 600s

  storage:
    type: s3
    bucketNames:
        chunks: gdp-log-test
        ruler: gdp-log-test
        admin: gdp-log-test
    s3:
      # s3 URL can be used to specify the endpoint, access key, secret key, and bucket name this works well for S3 compatible storages or if you are hosting Loki on-premises and want to use S3 as the storage backend. Either use the s3 URL or the individual fields below (AWS endpoint, region, secret).
      # s3: s3://access_key:secret_access_key@custom_endpoint/bucket_name
      # AWS endpoint URL
      endpoint: s3.ap-northeast-2.amazonaws.com
      # AWS region where the S3 bucket is located
      region: ap-northeast-2
      # AWS secret access key
      # secretAccessKey: <your-secret-access-key>
      # AWS access key ID
      # accessKeyId: <your-access-key-id>
      # AWS signature version (e.g., v2 or v4)
      # signatureVersion: <your-signature-version>
      # Forces the path style for S3 (true/false)
      s3ForcePathStyle: false
      # Allows insecure (HTTP) connections (true/false)
      # insecure: false
      # HTTP configuration settings
      http_config: {}

deploymentMode: SimpleScalable

backend:
  replicas: 1
read:
  replicas: 2
write:
  replicas: 3
  tolerations:
    - key: "gpu"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"

chunksCache:
  tolerations:
    - key: "gpu"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"

gateway:
  enabled: true
  replicas: 1
  # kube-dns 주소 확인한 뒤 입력
  nginxConfig:
    file: |
      worker_processes  5;  ## Default: 1
      error_log  /dev/stderr;
      pid        /tmp/nginx.pid;
      worker_rlimit_nofile 8192;

      events {
        worker_connections  4096;  ## Default: 1024
      }

      http {
        client_body_temp_path /tmp/client_temp;
        proxy_temp_path       /tmp/proxy_temp_path;
        fastcgi_temp_path     /tmp/fastcgi_temp;
        uwsgi_temp_path       /tmp/uwsgi_temp;
        scgi_temp_path        /tmp/scgi_temp;

        client_max_body_size  4M;

        proxy_read_timeout    600; ## 10 minutes
        proxy_send_timeout    600;
        proxy_connect_timeout 600;

        proxy_http_version    1.1;

        default_type application/octet-stream;
        log_format   main '$remote_addr - $remote_user [$time_local]  $status '
              '"$request" $body_bytes_sent "$http_referer" '
              '"$http_user_agent" "$http_x_forwarded_for"';
        access_log   /dev/stderr  main;

        sendfile     on;
        tcp_nopush   on;
        
        # Fix DNS resolver - use IP instead of hostname
        resolver coredns.kube-system.svc.cluster.local valid=10s;

        # if the X-Query-Tags header is empty, set a noop= without a value as empty values are not logged
        map $http_x_query_tags $query_tags {
          ""        "noop=";            # When header is empty, set noop=
          default   $http_x_query_tags; # Otherwise, preserve the original value
        }

        # pass custom headers set by Grafana as X-Query-Tags which are logged as key/value pairs in metrics.go log messages
        proxy_set_header X-Query-Tags "${query_tags},user=${http_x_grafana_user},dashboard_id=${http_x_dashboard_uid},dashboard_title=${http_x_dashboard_title},panel_id=${http_x_panel_id},panel_title=${http_x_panel_title},source_rule_uid=${http_x_rule_uid},rule_name=${http_x_rule_name},rule_folder=${http_x_rule_folder},rule_version=${http_x_rule_version},rule_source=${http_x_rule_source},rule_type=${http_x_rule_type}";
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        # Set default tenant for single-tenant mode (2025-07-22)
        proxy_set_header X-Scope_OrgID "fake";

        server {
          listen             8080;
          listen             [::]:8080;

          auth_basic off;

          location = / {
            return 200 'OK';
            auth_basic off;
          }

          ########################################################
          # Configure backend targets
          location ^~ /ui {
            proxy_pass       http://loki-write.monitoring.svc.cluster.local:3100$request_uri;
          }

          # Distributor
          location = /api/prom/push {
            proxy_pass       http://loki-write.monitoring.svc.cluster.local:3100$request_uri;
          }
          location = /loki/api/v1/push {
            proxy_pass       http://loki-write.monitoring.svc.cluster.local:3100$request_uri;
          }
          location = /distributor/ring {
            proxy_pass       http://loki-write.monitoring.svc.cluster.local:3100$request_uri;
          }
          location = /otlp/v1/logs {
            proxy_pass       http://loki-write.monitoring.svc.cluster.local:3100$request_uri;
          }

          # Ingester
          location = /flush {
            proxy_pass       http://loki-write.monitoring.svc.cluster.local:3100$request_uri;
          }
          location ^~ /ingester/ {
            proxy_pass       http://loki-write.monitoring.svc.cluster.local:3100$request_uri;
          }
          location = /ingester {
            internal;        # to suppress 301
          }

          # Ring
          location = /ring {
            proxy_pass       http://loki-write.monitoring.svc.cluster.local:3100$request_uri;
          }

          # MemberListKV
          location = /memberlist {
            proxy_pass       http://loki-write.monitoring.svc.cluster.local:3100$request_uri;
          }

          # Ruler
          location = /ruler/ring {
            proxy_pass       http://loki-backend.monitoring.svc.cluster.local:3100$request_uri;
          }
          location = /api/prom/rules {
            proxy_pass       http://loki-backend.monitoring.svc.cluster.local:3100$request_uri;
          }
          location ^~ /api/prom/rules/ {
            proxy_pass       http://loki-backend.monitoring.svc.cluster.local:3100$request_uri;
          }
          location = /loki/api/v1/rules {
            proxy_pass       http://loki-backend.monitoring.svc.cluster.local:3100$request_uri;
          }
          location ^~ /loki/api/v1/rules/ {
            proxy_pass       http://loki-backend.monitoring.svc.cluster.local:3100$request_uri;
          }
          location = /prometheus/api/v1/alerts {
            proxy_pass       http://loki-backend.monitoring.svc.cluster.local:3100$request_uri;
          }
          location = /prometheus/api/v1/rules {
            proxy_pass       http://loki-backend.monitoring.svc.cluster.local:3100$request_uri;
          }

          # Compactor
          location = /compactor/ring {
            proxy_pass       http://loki-backend.monitoring.svc.cluster.local:3100$request_uri;
          }
          location = /loki/api/v1/delete {
            proxy_pass       http://loki-backend.monitoring.svc.cluster.local:3100$request_uri;
          }
          location = /loki/api/v1/cache/generation_numbers {
            proxy_pass       http://loki-backend.monitoring.svc.cluster.local:3100$request_uri;
          }

          # IndexGateway
          location = /indexgateway/ring {
            proxy_pass       http://loki-backend.monitoring.svc.cluster.local:3100$request_uri;
          }

          # QueryScheduler
          location = /scheduler/ring {
            proxy_pass       http://loki-backend.monitoring.svc.cluster.local:3100$request_uri;
          }

          # Config
          location = /config {
            proxy_pass       http://loki-write.monitoring.svc.cluster.local:3100$request_uri;
          }

          # QueryFrontend, Querier
          location = /api/prom/tail {
            proxy_pass       http://loki-read.monitoring.svc.cluster.local:3100$request_uri;
          }
          location = /loki/api/v1/tail {
            proxy_pass       http://loki-read.monitoring.svc.cluster.local:3100$request_uri;
          }
          location ^~ /api/prom/ {
            proxy_pass       http://loki-read.monitoring.svc.cluster.local:3100$request_uri;
          }
          location = /api/prom {
            internal;        # to suppress 301
          }
          location ^~ /loki/api/v1/ {
            proxy_pass       http://loki-read.monitoring.svc.cluster.local:3100$request_uri;
          }
          location = /loki/api/v1 {
            internal;        # to suppress 301
          }
        }
      }

# Disable minio storage
minio:
  enabled: false
